doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="./css/style_02.css")
  body 
    .nav
      - for (let i = 1; i <= 10; i++)
        a(href=`#item${i}`) item#{i}
    .box 
      - for (let i = 1; i <= 10; i++)
        .item(id=`item${i}`) 
          img(src=`./images/pic${i}.webp`, alt="")
          |item#{i}